/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

/* Variaveis: */
:root {
    --primary-color: #f0f0f0;

    --primary-bg-color: #111217;

    --secondary-bg-color: #28292E;

    --border-color: #28292E;

    --title-color: #9A9A9C;

    --text-color: #9A9A9C;

    --link-color: #9A9A9C;

    --icon-color: #C7C8C9;
}

body {
    background: var(--primary-bg-color);

    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.5rem 1rem;
}

.header__brand .brand__logo {
    height: 3.25rem;
    width: 3.25rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__iten {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;

    border-top: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon,
.menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: 0.75rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .menu--mobile {
        display: none;
    }
}